.star {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(45deg);
  position: relative;
  margin: 50px;
}
.star:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(60deg);
  position: absolute;
  top: -1px;
  left: -20px;
}