/*  your css code here. If applicable */
 body {
        margin: 20px;
      }
      .star {
        postion: relative;
      }
      .traingleReverseBy180 {
    width: 0;
    height: 0;
    border-left: 50px solid rgba(0, 0, 0, 0);
    border-right: 50px solid rgba(0, 0, 0, 0);
    border-top: 100px solid rgb(255, 255, 0);
}

.traingle{
  width: 0; 
  height: 0; 
  border-left: 50px solid rgba(0, 0, 0, 0);
  border-right: 50px solid rgba(0, 0, 0, 0);
  border-bottom: 100px solid rgb(255, 255, 0);
  position: absolute;
  top: 0;
}